<!--列印頁面-->
<div id= "print-container">
    <div class="print-config d-print-none">
        <div class="print-config-info">
            <strong>列印設定操作說明</strong>
        </div>
        <div class="print-config-block">
            <div class="print-config-title" v-html="$t('printmap.maptitle')"></div>
            <input v-model="printform.printTitle">                
        </div>
        <div class="print-config-block">
            <div class="print-config-title" v-html="$t('printmap.mapdescription')"></div>
            <input v-model="printform.printDescription">                
        </div>
                                                                                 
        <button class="btn btn-secondary btn-sm" v-on:click="PrintMap">列印</button>
    </div>  
    <div class="print-content-box d-none d-print-block">
        <h4>{{ printform.printTitle }}</h4>
        <p>{{ printform.printDescription }}</p>        
    </div>                                       
</div>


