.font-white{
    color:#fff ;
}
html,body{
    height: 100%;
    width: 100%;
}
body {
    webkit-print-color-adjust: exact !important;
}
#app{
    height: 100%;
    position: absolute;
    width: 100%;
    overflow: hidden;
}

.nav-tabs > li > button {
  color: #d3d3d3;
}

#loading{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #6E6F73;
    opacity: 0.6;
    z-index: 10000;
    display: flex;
    justify-content:center;
    align-items:center;
    display: none;
}
#loading div.loadingContent{
    background-color: #fff;
    height: 150px;
    width: 200px;
    background-repeat: no-repeat;
    background-image: url(../image/basic/loading.gif);
    background-size: 85%;
    background-position: center;
    opacity: 1;
}
/**地圖物件**/
#map{
    width: 100%;
    height: 92%;
}
.navbar{
    width: 100%;
    height: 8%;
    background-color:#3C4E54;
}

.navbar-content{
    color: #ffff;
    font-size: 15px;
    margin-left: 2%;
    letter-spacing: 1px;
    font-weight: 500;
}

.navbar-content h1{
    font-size: 26px;
    font-style: oblique;
}

.multiply {
    mix-blend-mode: multiply;
  }

.btn-lang {
    background: #3C4E54;
    font-size: 16px;
    color: #ffff;
    border: 0;
    cursor: pointer;
  }
  .btn-lang:hover {
    color: rgb(243, 117, 44);
  }
#map-coordinate{
    position: absolute;
    z-index: 99999999;
    top: 95vh;
    right: 100px;
    background-color: #3C4E54;
    display: flex;
    align-items: center;
    font-size: 12px;
    border-radius: 10px;
    padding: 3px 5px;
    justify-content: center;
    color: #fff;
    width: 350px;
}
#map-coordinate .info:first-child{
    width: 185px;
}

.toggle-btn {
    position: absolute;
    top:  150px;
    left: 160px;
    padding: 40px 10px;
    background-color: orange;
    border-radius: 0 6px 6px 0;  
    border-color: orange;
}

#form-container {
    position: absolute;
    left:20%;
    top:10%;
    z-index: 99999999;
    padding: 10px 10px 10px 10px;
    width:72%;
    background-color: white;

}

/**.panel-simple-header{
    top:8%;
    position: absolute;
    left:350px;
    width:60px;
    height: 80px;
    z-index: 1000;
    background-color:gray;
    color:rgb(19, 16, 16); 
    padding: 5px 5px;
    border-radius: 0px 0px 5px  5px ;
    transition: .3s ease-out;
    
}/
/**/
.report-container {
  position: fixed;
  top:-5px;
  background-color:#fff; 
  left: -10px;
  width:110%; 
  height:100%;
  padding-top:10px;
  padding-bottom:10px;
  padding-left: 15px ;
}
  
.simple-shrink{
    position: absolute;
    z-index: 9000;
    height:45px;
    width: 45px;
    left:3%;
    top:11%;
    border-radius: 5px;
    background-color:gray;
    border-color: #fff;
    border-width: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
}

.panel-simple{
    height: 100%;
    width: 350px;
    position: absolute;
    z-index: 9999;
    padding: 1%;
    background-color:#3C4E54;
    color:#fff;
    //border-right: 10px solid orange;
    padding: 10px;
}

.panel-simple-info-container{
    color:#fff;
    //border-right: 10px solid orange;
    padding: 15px;
}
.panel-simple-header{
    padding-right: 10px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-items: center;
}
.panel-simple-header >div{
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.panel{
    height: 100%;
    width: 160px;
    position: absolute;
    z-index: 9999;
    padding: 1%;
    background-color:#3C4E54;
    color:#fff;
    //border-right: 10px solid orange;
    padding: 20px;
}

.panel-function{
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5%;
}
.panel-function:hover{
    background-color: #72939e;
    box-shadow: 0 0 2px #5e7982, 0 0 2px #5e7982, 0 0 2px #5e7982, 0 0 2px #5e7982;
}
.panel-info-container{
    position: relative;
    height: auto;
    width: 300px;
    background-color:#696D7D;
    left: 150px;
    bottom: 135px;
    border-radius: 5px;
}
.panel-info-container{
    cursor: move;
}

.info-container-header{
    background-color: #5b5e6b;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-items: center;
    border-radius: 0 5px;
    border-top-left-radius:5px;
    border-top-right-radius: 5px;
}
.info-container-header >div{
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.print-container {
    position: absolute;
    left: 0;
    height: 60%;
    overflow: auto;
    font-size: 14px;
    z-index: 10000;
}
.print-container-header{
    background-color: #dbdce0d8;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-items: center;
    border-radius: 0 5px;
    border-top-left-radius:5px;
    border-top-right-radius: 5px;
}

.print-config {
    padding-right:10px;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: #FFF;   
    float: left; 
    width: 100%;
}

.print-config-block {
    background-color: #FFF;
    font-size: 14px;
    z-index: 10000;
    border: 1px solid grey;
    border-radius: 2px 2px 2px 2px;
    padding-left: 5px;
    margin: 10px 0;
}

.print-config-title {
    border-bottom: 2px solid gray;
    font-weight: bold;
    color: grey;
    padding-left: 10px;
}
.print-content-box{
    position: fixed;
    top: 0;
    left: 0;  
    background-color:rgb(231, 231, 231); 
    width:200px; 
    height:auto;
    padding:10px 10px 10px 10px ;
    z-index: 10000;   
}

img#screenshot {
	border: 1px solid red;
}

@page {
    size: A4 landscape;
    margin: 0.5cm;
}

@media print{
    
    body {
        font: 13pt Georgia, "Times New Roman", Times, serif;
        line-height: 1.3;
        color: #000;
        -webkit-print-color-adjust: exact; 
        }
    .panel {
        background-color: transparent !important;
        color: black;
    }

}


.slider {
    position:relative;
    justify-content: center;
    align-items: center;
    top: unset;
    float: right;
    -webkit-appearance: none;
    width: 30%;
    height: 5px;
    border-radius: 3px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 13px;
    height: 13px;
    border-radius: 50%; 
    background:#79d29e;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background:#79d29e;
    cursor: pointer;
  }
