/*Legend specific*/
.legend {
  position: fixed;
  top: 80vh;
  left: 20vh;
  padding: 6px 8px;
  font: 14px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
  /*border-radius: 5px;*/
  line-height: 24px;
  color: #555;
}
.legend h4 {
  text-align: center;
  font-size: 16px;
  margin: 2px 12px 8px;
  color: #777;
}

.legend span {
  position: relative;
  bottom: 3px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin: 0 8px 0 0;
  opacity: 0.7;
  border: 2px solid rgba(32, 32, 32, 1);
}

.legend i.icon {
  background-size: 18px;
  /*background-color: rgba(255, 255, 255, 1);*/
}

.morans-container {
  position: fixed;
  left: 130vh;
  height: auto;
  width: 520px;
  top:10vh;
  background-color:#696D7D;
  border-radius: 5px;
}

.morans-container h5 {
  padding-left: 10px; 
  padding-top: 5px;
}

.morans-container-header {
  background-color: #5b5e6b;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  align-items: center;
  border-radius: 0 5px;
  border-top-left-radius:5px;
  border-top-right-radius: 5px;
}

.morans-container-header >div{
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.intro-container {
  position: fixed;
  left: 80vh;
  width: 520px;
  top:10vh;
  overflow-y: scroll;
  max-height: 50vh;
  background-color:#ffffff;
  border-radius: 5px;
  color: #555;
  padding-left: 15px; 
  padding-top: 5px;
}

.intro-container-header {
  background-color:#ffffff;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  align-items: center;
  border-radius: 0 5px;
  border-top-left-radius:5px;
  border-top-right-radius: 5px;
}

.intro-container-header >div{
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.slider {
  -webkit-appearance: none;
  width: 70%;
  height: 10px;
  border-radius: 3px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%; 
  background:#fff;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}
